#wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px 10px;
}

@media only screen and (max-width: 1000px) {
	#container {
		width: auto;
		margin: 0 3%; // this doesn't work?
	}
}

.description {
	padding: 12px;
}

table {
	width: 100%;
}

.mat-column-right {
	text-align: center;
}

.important {
	width: 50%;
	margin: 0 auto;
}
