<div>
  <br />
  <mat-card class="wrapper">
    <section class="mat-typography">
      <h3>Update A Task</h3>
    </section>
    <mat-divider></mat-divider>
    <br />
    <form [formGroup]="updateForm" class="update-form">

      <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Enter task title</mat-label>
        <input
          matInput
          placeholder="E.g. charge airpods"
          formControlName="title"
          name="title"
          #title
          required
        />
      </mat-form-field>

      <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Write a description of the task</mat-label>
        <textarea
        matInput
        formControlName="description"
        #description
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="date">
        <mat-label>Due date</mat-label>
        <input matInput type="date" formControlName="date" value="2069-4-20"
        min="{{ myDate | date:'yyyy-MM-dd'}}" max="2069-4-20" #date/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Important</mat-label>
        <mat-select
          placeholder="Important"
          formControlName="important"
          #important
          >
          <mat-option value="Low">Low</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br /><br />
      <button mat-raised-button color="accent" routerLink="/list">Back</button
        >&nbsp;

        <button
        type="submit"
        (click)="
        updateTask(title.value, description.value, date.value, important.value)
        "
        [disabled]="updateForm.pristine || updateForm.invalid"
        mat-raised-button
        color="primary"
        >
        Save
      </button>
      <!--
    -->
  </form>
</mat-card>
</div>
