<div style="background-color: bisque;">
  <h1>Use case diagram</h1>
  <div style="width: 960px; height: 720px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0" style="width:960px; height:720px" src="https://app.lucidchart.com/documents/embeddedchart/744afd39-1bd4-43af-b928-a1502ad9a3c0" id="Iph79oMiM_B7"></iframe></div>

  <h1>Sequence diagram</h1>
  <div style="width: 1000px; height: 700px; margin: 10px; position: relative;">
    <iframe
      allowfullscreen
      frameborder="0"
      style="width: 1300px; height: 900px;"
      src="https://app.lucidchart.com/documents/embeddedchart/f5ec021f-403c-4da3-86f2-65540283e2f1"
      id="q276wyhjanh~"
    ></iframe>

    <h1>Class diagram</h1>
    <div style="width: 1000px; height: 700px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0" style="width: 1300px; height: 900px;" src="https://app.lucidchart.com/documents/embeddedchart/a8bc32b1-a152-474c-bd89-3a949b0c7116" id="r8g7gT6jTWqt"></iframe></div>
  </div>
</div>
