<div>
  <br />
  <mat-card>
    <section class="mat-typography">
      <h3>Create A New Task</h3>
    </section>
    <mat-divider></mat-divider>
    <br />
    <form [formGroup]="createForm" class="create-form">

      <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Enter task title</mat-label>
        <input
          matInput
          placeholder="E.g. charge airpods"
          formControlName="title"
          name="title"
          #title
          required
        />
      </mat-form-field>

      <mat-form-field class="field-full-width" appearance="outline">
        <textarea
        matInput
        placeholder="Description"
        formControlName="description"
        #description
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Date" formControlName="date" #date />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select
        placeholder="Important"
          formControlName="important"
          #important
          >
          <mat-option value="Low">Low</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br /><br />
      <button mat-raised-button color="accent" routerLink="/list">Back</button
        >&nbsp;

        <button
        type="submit"
        (click)="
        addTask(title.value, description.value, date.value, important.value)
        "
        [disabled]="createForm.pristine || createForm.invalid"
        mat-raised-button
        color="primary"
        >
        Save
      </button>
      <!--
    -->
  </form>
</mat-card>
</div>
